@model UsbRequestVM
@{

}

<div class="layui-row layui-col-space15">

    <div class="layui-col-md6">

        <div class="layui-panel">

            <div style="padding: 30px;">
                <div>USB Detial: ( current state: @Model.RequestState )</div>
                <hr />
                <div>Manufacturer: @Model.Manufacturer</div>
                <div>Product: @Model.Product</div>
                <div>Vid: @Model.Vid_Hex</div>
                <div>Pid: @Model.Pid_Hex</div>
                <div>SerialNumber: @Model.SerialNumber</div>
                <div>Request State: @Model.RequestState</div>
                <div>State Change Time: @Model.RequestStateChangeTimeString</div>
                <div>Request Computer Name @Model.ComputerName</div>
                <div>Request IP: @Model.IP</div>
                <div>Request User Email: @Model.RequestUserEmail</div>
                <hr />
                <div>Request Time: @Model.RequestTimeString</div>
                <div>Request Reason:</div>
                <div>@Model.RequestReason</div>
            </div>

        </div>

    </div>

    <hr>
    <div>
        <form action="~/USB/RequestToApprove" method="post" class="layui-form" onsubmit="return confirm('Approve ?');">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="layui-btn layui-btn-primary">Approve</button>
        </form>
        <br />
        <form action="~/USB/RequestToReject" method="post" class="layui-form" onsubmit="return confirm('Reject ?');">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="layui-btn layui-btn-primary">Reject</button>
        </form>
        <br />
        <hr />
        <form action="~/USB/RequestToDelete" method="post" class="layui-form" onsubmit="return confirm('Delete ?');">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="layui-btn layui-btn-danger">Delete</button>
        </form>

    </div>
</div>


